//BUTTON- FILL
.btn-fill {
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 1.3rem 5rem 1.3rem;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);

  &::after {
    content: '';
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }

  &:hover::after {
    top: 0px;
    left: 0px;
  }
}
